<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./shared/_head.ejs', { title: 'B-4_動画一覧' }) %>
</head>
<body class="bg-color">
  <div class="canvas">

    <%- include('./shared/_header.ejs', { title: '' }) %>
    <!-- breadcrumb start  -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <ul class="breadcrumb-ul">
          <li>
            <a href="/">Top</a>
          </li>
          <li>
            <a href="">動画一覧</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb start  -->
    <div class="content-body-bg">
      <div class="container container-wrapper">
        <div class="video-lists-wrapper">
          <div class="title-head title-head-ext">
            <h2 class="h2">動画一覧</h2>
            <h4 class="h4">
              MAPから検索する
              <img class="icon" src="/images/arrow-green.svg" alt="">
            </h4>
          </div>
          <div class="content">
            <div class="video-lists">
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signle-item">
                <div class="card-wrapper">
                  <div class="img">
                    <a href="">
                      <img src="/images/video-thum-1.png" alt="">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-top">
                      <p class="title">
                        <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="photograph-date">
                        <button class="btn btn-sm" type="">撮影</button>
                        <p class="text">
                          <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                        </p>
                      </div>
                      <div class="release-date">
                        <button class="btn btn-sm">公開</button>
                        <p class="text">
                          <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%- include('./shared/_pagination.ejs', { title: '' }) %>
          </div>
        </div>
      </div>
    </div>
    <%- include('./shared/_footer.ejs', { title: '' }) %>
    <%- include('./shared/_foot_js.ejs', { title: '' }) %>
  </div>
  </body>
</html>