<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./shared/_head.ejs', { title: 'B-2-出品オファー一覧・検索' }) %>
</head>
<body class="bg-color">
  <div class="canvas">
    <%- include('./shared/_header.ejs', { title: '' }) %>
    <!-- breadcrumb start  -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <ul class="breadcrumb-ul">
          <li>
            <a href="/">Top</a>
          </li>
          <li>
            <a href="">出品オファー</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb start  -->
    <div class="content-body-bg">
      <div class="container container-wrapper">
        <div class="offer-lists-wrapper">
          <div class="title-head">
            <h2 class="h2">出品オファー</h2>
          </div>
          <div class="content">
            <div class="left_cont">
              <!-- offer lists start -->
              <div class="offer-lists-cont">
                <div class="offer-lists">
                  <div class="single-offer">
                    <div class="offer-top">
                      <h3 class="offer-title">
                        <a href="">銀座4丁目あおり運転による交差点の接触事故の映像</a>
                      </h3>
                      <div class="release-date">
                        <p>2022<span>年</span>03<span>月</span>07<span>日</span></p>
                      </div>
                    </div>
                    <div class="offer-cont">
                      <div class="shoting-area">
                        <button type="" class="btn btn-black width_89">撮影日</button>
                        <p class="date">2021<span>年</span>12<span>月</span>28<span>日</span></p>
                      </div>
                      <div class="location">
                        <button type="" class="btn btn-black width_89">ロケーション</button>
                        <p class="date">港区赤坂<span>2</span>丁目<span>2</span>番<span>12</span>号 六本木通り</p>
                      </div>
                    </div>
                  </div>
                  <div class="single-offer">
                    <div class="offer-top">
                      <h3 class="offer-title">
                        <a href="">銀座4丁目あおり運転による交差点の接触事故の映像</a>
                      </h3>
                      <div class="release-date">
                        <p>2022<span>年</span>03<span>月</span>07<span>日</span></p>
                      </div>
                    </div>
                    <div class="offer-cont">
                      <div class="shoting-area">
                        <button type="" class="btn btn-black width_89">撮影日</button>
                        <p class="date">2021<span>年</span>12<span>月</span>28<span>日</span></p>
                      </div>
                      <div class="location">
                        <button type="" class="btn btn-black width_89">ロケーション</button>
                        <p class="date">港区赤坂<span>2</span>丁目<span>2</span>番<span>12</span>号 六本木通り</p>
                      </div>
                    </div>
                  </div>
                  <div class="single-offer">
                    <div class="offer-top">
                      <h3 class="offer-title">
                        <a href="">銀座4丁目あおり運転による交差点の接触事故の映像</a>
                      </h3>
                      <div class="release-date">
                        <p>2022<span>年</span>03<span>月</span>07<span>日</span></p>
                      </div>
                    </div>
                    <div class="offer-cont">
                      <div class="shoting-area">
                        <button type="" class="btn btn-black width_89">撮影日</button>
                        <p class="date">2021<span>年</span>12<span>月</span>28<span>日</span></p>
                      </div>
                      <div class="location">
                        <button type="" class="btn btn-black width_89">ロケーション</button>
                        <p class="date">港区赤坂<span>2</span>丁目<span>2</span>番<span>12</span>号 六本木通り</p>
                      </div>
                    </div>
                  </div>
                  <div class="single-offer">
                    <div class="offer-top">
                      <h3 class="offer-title">
                        <a href="">銀座4丁目あおり運転による交差点の接触事故の映像</a>
                      </h3>
                      <div class="release-date">
                        <p>2022<span>年</span>03<span>月</span>07<span>日</span></p>
                      </div>
                    </div>
                    <div class="offer-cont">
                      <div class="shoting-area">
                        <button type="" class="btn btn-black width_89">撮影日</button>
                        <p class="date">2021<span>年</span>12<span>月</span>28<span>日</span></p>
                      </div>
                      <div class="location">
                        <button type="" class="btn btn-black width_89">ロケーション</button>
                        <p class="date">港区赤坂<span>2</span>丁目<span>2</span>番<span>12</span>号 六本木通り</p>
                      </div>
                    </div>
                  </div>
                  <div class="single-offer">
                    <div class="offer-top">
                      <h3 class="offer-title">
                        <a href="">銀座4丁目あおり運転による交差点の接触事故の映像</a>
                      </h3>
                      <div class="release-date">
                        <p>2022<span>年</span>03<span>月</span>07<span>日</span></p>
                      </div>
                    </div>
                    <div class="offer-cont">
                      <div class="shoting-area">
                        <button type="" class="btn btn-black width_89">撮影日</button>
                        <p class="date">2021<span>年</span>12<span>月</span>28<span>日</span></p>
                      </div>
                      <div class="location">
                        <button type="" class="btn btn-black width_89">ロケーション</button>
                        <p class="date">港区赤坂<span>2</span>丁目<span>2</span>番<span>12</span>号 六本木通り</p>
                      </div>
                    </div>
                  </div>
                  <div class="single-offer">
                    <div class="offer-top">
                      <h3 class="offer-title">
                        <a href="">銀座4丁目あおり運転による交差点の接触事故の映像</a>
                      </h3>
                      <div class="release-date">
                        <p>2022<span>年</span>03<span>月</span>07<span>日</span></p>
                      </div>
                    </div>
                    <div class="offer-cont">
                      <div class="shoting-area">
                        <button type="" class="btn btn-black width_89">撮影日</button>
                        <p class="date">2021<span>年</span>12<span>月</span>28<span>日</span></p>
                      </div>
                      <div class="location">
                        <button type="" class="btn btn-black width_89">ロケーション</button>
                        <p class="date">港区赤坂<span>2</span>丁目<span>2</span>番<span>12</span>号 六本木通り</p>
                      </div>
                    </div>
                  </div>
                  <div class="single-offer">
                    <div class="offer-top">
                      <h3 class="offer-title">
                        <a href="">銀座4丁目あおり運転による交差点の接触事故の映像</a>
                      </h3>
                      <div class="release-date">
                        <p>2022<span>年</span>03<span>月</span>07<span>日</span></p>
                      </div>
                    </div>
                    <div class="offer-cont">
                      <div class="shoting-area">
                        <button type="" class="btn btn-black width_89">撮影日</button>
                        <p class="date">2021<span>年</span>12<span>月</span>28<span>日</span></p>
                      </div>
                      <div class="location">
                        <button type="" class="btn btn-black width_89">ロケーション</button>
                        <p class="date">港区赤坂<span>2</span>丁目<span>2</span>番<span>12</span>号 六本木通り</p>
                      </div>
                    </div>
                  </div>
                  <div class="single-offer">
                    <div class="offer-top">
                      <h3 class="offer-title">
                        <a href="">銀座4丁目あおり運転による交差点の接触事故の映像</a>
                      </h3>
                      <div class="release-date">
                        <p>2022<span>年</span>03<span>月</span>07<span>日</span></p>
                      </div>
                    </div>
                    <div class="offer-cont">
                      <div class="shoting-area">
                        <button type="" class="btn btn-black width_89">撮影日</button>
                        <p class="date">2021<span>年</span>12<span>月</span>28<span>日</span></p>
                      </div>
                      <div class="location">
                        <button type="" class="btn btn-black width_89">ロケーション</button>
                        <p class="date">港区赤坂<span>2</span>丁目<span>2</span>番<span>12</span>号 六本木通り</p>
                      </div>
                    </div>
                  </div>
                </div>
                <%- include('./shared/_pagination.ejs', { title: '' }) %>
              </div>
              <!-- Offer list end -->
            </div>
            <div class="sidebar_wrapper bg_gray">
              <div class="sidebar-cont">
                <div class="search-lv">
                  <form action="" class="form c-form-block">
                    <div class="form_area">
                      <div class="label_area">
                        <label class="label_txt"><span class="mandatory">必須</span>ロケーション</label>
                      </div>
                      <div class="form_group">
                        <div class="input_group">
                          <input name="name" type="text" class="form-control" placeholder="パスワード再入力">
                        </div>
                      </div>
                    </div>
                    <div class="form_area">
                      <div class="label_area">
                        <label class="label_txt"><span class="mandatory gray">任意</span>撮影日</label>
                      </div>
                      <div class="form_group date_search">
                        <div class="input_group">
                          <input name="name" type="text" class="form-control" placeholder="0000">
                        </div>
                        <span class="text-style">年</span>
                        <div class="input_group">
                          <input name="name" type="text" class="form-control" placeholder="00">
                        </div>
                        <span class="text-style">月</span>
                        <div class="input_group">
                          <input name="name" type="text" class="form-control" placeholder="00">
                        </div>
                        <span class="text-style">日</span>
                      </div>
                    </div>
                    <div class="search-button">
                      <button type="submit" class="btn btn-green search-icon">上記の条件で探す</button>
                    </div>
                  </form>
                </div>
                <div class="map-pin-lv">
                  <img class="map-frame" src="/images/map-thum.png" alt="map-location">
                </div>
                <div class="video-looking-lv">
                  <div class="text">
                    <p>探している動画が見つからない方はこちら</p>
                  </div>
                  <div class="video-looking-button">
                    <a href="" class="btn btn-green icon">出品のオファーをする</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./shared/_footer.ejs', { title: '' }) %>
    <%- include('./shared/_foot_js.ejs', { title: '' }) %>
  </div>
  </body>
</html>